.containerLinksProducts {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  padding: 5px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: 15;
  text-align: start;
  background-color: rgb(2, 2, 2);
}

.containerLinksProducts a {
  color: rgb(241, 243, 240);
  padding: 5px;
  margin: 5px;
}
.containerLinksProducts a:hover {
  color: yellow;
}

.open {
  max-height: 200px;
  opacity: 1;
}
